<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Details</title>
</head>
<body>
<div class="mt-4" layout:fragment="content">
    <div class="row">
    <div class="col-3" style="font-size: 18px">
        <h1>User Details</h1>
        <h4 th:text="${loggedInUser.getName()}"></h4>
    </div>
    <div class="col-9"  th:if="${#authentication.name.equals(loggedInUser.id)}">
        <h1>Messages</h1>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Sent by</th>
            <th scope="col">Subject</th>
            <th scope="col">Message</th>
            <th scope="col">Sent on</th>
            <th scope="col">#</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="email : ${receivedEmails}">
            <td><a th:href="@{'/users/contact/{id}' (id=${email.getSender().id})}"
                   th:text="${email.getSender().email}"></a></td>
            <td th:text="${email.getSubject()}"></td>
            <td th:text="${email.getMessage()}"></td>
            <td th:text="${dateTimesEmails.get(email)}"></td>
            <td>
                <form th:action="@{'/users/{id}/deleteMessage/{messageId}' (id=${loggedInUser.id},messageId=${email.id})}" method="post">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
    <div class="row" th:if="${#authentication.name.equals(loggedInUser.id)}">
        <h1>My items</h1>
        <div th:each="item : ${items}" class="card m-1 d-flex" style="max-width: 49%;padding-bottom: 0">
            <div class="row g-0">
                <div class="col-md-5 pt-2 pb-2">
                    <img th:src="'data:image/jpeg;base64,' + ${images.get(item)}" class="img-fluid w-100"
                         alt="...">
                </div>
                <div class="col-md-5" style="font-size: 14px">
                    <div class="card-body">
                        <h5 class="card-title mb-1" th:text="${item.getName()}"></h5>
                        <p class="card-text mb-1" th:text="${item.getDescription()}"><strong>Description:</strong></p>
                        <p class="card-text mb-1"><strong>Category:</strong><span
                                th:text="${item.category}"></span></p>
                        <p class="card-text mb-1"><strong>Location:</strong><span
                                th:text="${item.getLocation()}"></span></p>
                        <p class="card-text mb-1"><strong>Type:</strong><span
                                th:text="${item.isLost ? 'Lost' : 'Found'}"></span></p>
                        <p th:if="${#authentication.name.equals(item.user.id)}" class="card-text mb-1"><strong>Published
                            by:</strong><span
                                th:text="${item.getUser().getName()}"></span></p>
                        <strong th:if="${!#authentication.name.equals(item.user.id)}">Published by:</strong>
                        <a th:if="${!#authentication.name.equals(item.user.id)}" th:href="@{'/users/contact/{id}'
                        (id=${item.getUser().getId()})}" th:text=" ${item.user.getName()}"></a>
                        <p class="card-text mb-1"><strong>Status:</strong><span
                                th:text="${item.getStatus().name()}"></span></p>
                        <p class="card-text mb-1"><small class="text-body-secondary"
                                                         th:text="${dateTimes.get(item)}"></small></p>
                    </div>
                </div>
                <div class="col-md-2 mt-auto pb-2" th:if="${#authentication.name.equals(item.user.id)}">
                    <a th:href="@{'/items/edit/{id}'(id=${item.getId()})}" style="width: 70px"
                       class="btn btn-success text-center">Edit</a>

                    <form th:action="@{'/items/delete/{id}' (id=${item.getId()})}" method="post">
                        <input type="submit" class="btn btn-danger text-center mt-2" value="Delete" style="width: 70px">
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>