<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout}">
<head>
    <meta>
    <title>Add category</title>
</head>
<body>

<div class="mt-4" layout:fragment="content">
    <form th:action="@{ ${category != null} ? '/categories/edit/' + ${category.id} : '/categories/add' }" style="margin-left: 30%;width: 40%" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text"
                   class="form-control"
                   id="name"
                   name="name"
                   th:value="${category?.name ?: ''}"
                   placeholder="Enter category name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>