<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Mail</title>
</head>
<body>
<div class="mt-4" layout:fragment="content">
    <form action="/users/send" th:method="post">
        <label for="receiver" class="form-label">Send to: </label>
        <input type="text" id="receiver" name="receiver" th:value="${receiver.getEmail()}" readonly="readonly" class="form-control">
        <label for="subject" class="form-label">Subject: </label>
        <input type="text" id="subject" name="subject" class="form-control">
        <label for="message" class="form-label">
            Message:
            <textarea id="message" name="message" class="form-control" style="width: 90rem"></textarea>
        </label>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>
</body>
</html>