<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Items</title>
</head>
<body>
<div class=" mt-4" layout:fragment="content">
    <h1>Items</h1>
    <a th:href="@{/items/add}" class="btn btn-dark">Add New Item</a>
    <div class="row" >
        <form class="form-inline" action="/items">
                <label for="name" class="form-label">Name</label>
                <input type="text"
                       id="name"
                       name="name"
                       class="form-control w-25"
                       style="display: inline"
                       placeholder="Enter item name">
                <label for="isLost" class="form-label">Lost/Found</label>
                <select id="isLost" name="isLost" class="form-control w-25"
                        style="display: inline">
                    <option th:value="All" th:text="All" selected></option>
                    <option th:value="Lost" th:text="Lost"></option>
                    <option th:value="Found" th:text="Found"></option>
                </select>
                <label for="categoryId" class="form-label">Category</label>
                <select id="categoryId" name="categoryId" class="form-control w-25"
                        style="display: inline">
                    <option th:value="-1" th:text="All" selected></option>
                    <option th:each="cat : ${categories}"
                            th:value="${cat.getId()}"
                            th:text="${cat.getName()}">
                    </option>
                </select>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <div class="row">
        <div th:each="item : ${items}" class="card" style="width: 18rem;">
                <img class="card-img-top" th:src="${item.image}" alt="Card image cap">
                <div class="card-body">
                    <h5 th:text="${item.name}" class="card-title"></h5>
                    <p th:text="${item.description}" class="card-text"></p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Category:</strong> <span th:text="${item.category.name}"></span></li>
                        <li class="list-group-item"><strong>Date Registered:</strong> <span th:text="${dateTimes.get(item)}"></span></li>
                        <li class="list-group-item"><strong>Location:</strong> <span th:text="${item.loc}"></span></li>
                        <li class="list-group-item"><strong>Status:</strong> <span th:text="${item.isLost ? 'Lost' : 'Found'}"></span></li>
                    </ul>
                    <div class="card-footer d-flex justify-content-between">
                        <a th:href="@{'/items/edit/{id}'(id=${item.getId()})}" class="btn btn-info">Edit</a>
<!--                        <form th:action="@{'/items/delete/{id}' (id=${item.getId()})}" method="post">-->
<!--                            <input type="submit" class="btn btn-danger" value="Delete">-->
<!--                        </form>-->
                        <a th:href="@{'/items/delete/{id}'(id=${item.getId()})}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
        </div>
    </div>

</div>
</body>
</html>